<strong>Hello, {{owner}} </strong>
<p>There is a new subscriber in your meetup.</p>
<p>
  <strong>User:</strong> {{user}} <br />
  <strong>Meetup:</strong> {{meetup}} <br />
  <strong>Date:</strong> {{date}} <br />
  <br />
</p>